footer {
    background: url('../images/footer_bg.webp');
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    margin-top: 60px;

    .footer_overlay {
        background: $images-cover-color;
        padding-top: 70px;
        padding-bottom: 20px;
    }

    .footer__content {
        .footer_logo {
            width: 200px;
        }

        span {
            display: block;
            margin: 30px 0px;
            color: $white-color;
        }

        ul li a {
            display: block;
            position: relative;
            color: #dfdddd;
            font-size: 16px;
            padding-left: 15px;
            margin-top: 15px;
            text-transform: capitalize;
            transition: all linear .5s;
        }

        ul li a:hover {
            color: $primary-color;
        }

        ul li a::after {
            position: absolute;
            content: "";
            width: 7px;
            height: 7px;
            top: 9px;
            left: 0;
            background: $primary-color;
            transition: all linear .5s;
        }

        .social_link {
            margin-bottom: 10px !important;

            li a {
                position: initial;
                width: 35px;
                height: 35px;
                line-height: 35px;
                border-radius: 50%;
                padding: 0;
                margin-right: 10px;
                margin-top: 0;
                text-align: center;
                color: $white-color;
                background: $primary-color;
            }
        }

        .social_link li a:hover {
            background-color: $white-color;
        }

        h3 {
            display: inline-block;
            font-size: 22px;
            font-weight: 700;
            padding-bottom: 5px;
            margin: 20px 0 12px 0;
            color: $white-color !important;
            border-bottom: 1px solid $primary-color;
            text-transform: capitalize;
        }

        .info {
            display: block;
            position: relative;
            color: #dfdddd;
            padding-left: 35px;
            padding-bottom: 20px;
            margin-top: 20px;
            margin-bottom: 20px;
            border-bottom: 1px solid #ff7c0885;

            i {
                position: absolute;
                color: $primary-color;
                font-size: 20px;
                left: 0;
                top: 3px;
            }
        }
    }

    @media (min-width: 768px) {
        .footer_overlay {
            padding: 100px 0;
        }
    }
}

@media (min-width: 576px) {
    footer {
        margin-top: 80px;
    }
}

@media (min-width: 992px) {
    footer {
        margin-top: 120px;
    }
}

.footer__bottom {
    padding: 20px 0px;
    background: $primary-color;

    .footer__bottom__txt {

        p {
            color: $white-color;
            text-align: center;
            margin: 0;

            b {
                color: $white-color;
                font-weight: 600;
                text-transform: capitalize;
                transition: all linear .5s;
            }
        }
    }
}

.scrollUpButton {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 45px;
    height: 45px;
    opacity: 0;
    color: $white-color;
    background-color: $primary-color;
    border-radius: 50%;
    text-align: center;
    text-transform: capitalize;
    line-height: 45px;
    border: 1px solid $white-color;
    z-index: 9999;
    cursor: pointer;
    transition: all linear .5s;
    animation: scrollMovement linear 2s infinite alternate;
}

.scrollUpButton:hover {
    background-color: $black-color;
}

.show {
    opacity: 1;
}