$Primary-color: #ff7c08;
$header-image-cover-color: #231f40c4;
$images-cover-color: #231f40e8;
$gradiant-cover-color: #ff7c08e8;
$CounterUp-color: #231f4094;
$cover-color: #231f40cc;
$rating-color: #ff9933;
$white-color: white;
$black-color: #231f40;
$red-color: #eb0029;
$paragraph-font: 'Manrope', sans-serif;
$special-font: 'Oleo Script', cursive;
$header-font: 'Barlow', sans-serif;
$paragraph-color: #484747;
$box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.15);