@import '../animate/animate.min.css';
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Manrope", sans-serif;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
}

a {
  text-decoration: none !important;
  display: inline-block !important;
  font-size: 16px;
  font-weight: 500;
}

a:link,
a:visited {
  color: white;
}

ul,
li {
  padding: 0 !important;
  margin-bottom: 0 !important;
  list-style-type: none;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes shake {
  from {
    margin-left: 10px;
  }
  to {
    margin-left: 0;
  }
}
@keyframes shake {
  from {
    margin-left: 10px;
  }
  to {
    margin-left: 0;
  }
}
@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}
@keyframes zoom {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}
@-webkit-keyframes scrollMovement {
  from {
    bottom: 30px;
  }
  to {
    bottom: 50px;
  }
}
@keyframes scrollMovement {
  from {
    bottom: 30px;
  }
  to {
    bottom: 50px;
  }
}
@font-face {
  font-family: "Oleo Script";
  src: url("../fonts/OleoScript-Regular.ttf");
}
input,
textarea {
  width: 100%;
  padding: 12px 20px;
  border-radius: 4px;
  outline: none;
  resize: none;
  border: 1px solid #eee;
  font-size: 16px;
  font-weight: 300;
}

button {
  border: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.common_btn {
  background: #ff7c08;
  text-transform: capitalize;
  color: white;
  padding: 12px 40px 12px 40px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 600;
  position: relative;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
  cursor: pointer;
}

.common_btn::after {
  width: 23px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 0px;
  content: "";
  border-radius: 50%;
  background: url(../images/arrow_icon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

.common_btn:hover {
  background: #231f40;
  padding: 12px 25px 12px 55px;
  color: white;
}

.common_btn:hover::after {
  left: 17px;
  opacity: 1;
}

.section__heading {
  margin-bottom: 25px;
}
.section__heading h4 {
  display: inline-block;
  position: relative;
  margin-bottom: 10px;
  color: #ff7c08;
  font-size: 24px;
  font-weight: 600;
  font-family: "Oleo Script", cursive;
  text-transform: capitalize;
}
.section__heading h4::after {
  position: absolute;
  content: "";
  width: 65px;
  height: 23px;
  top: 3px;
  right: -80px;
  background: url("../images/heading_shapes_1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.section__heading h2 {
  font-size: 35px;
  font-weight: 800;
  text-transform: capitalize;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: "Barlow", sans-serif;
  color: #231f40 !important;
}

p,
a,
span {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  color: #484747;
}

.header__div--top {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #231f40;
  overflow: hidden;
  z-index: 999;
}

.container {
  height: 100%;
}

.header__div--info li {
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__div--info li a {
  line-height: 50px;
}
.header__div--info li a i {
  margin-right: 10px;
}

.header__div--info ul::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 150%;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transform: skewX(327deg);
          transform: skewX(327deg);
  background-color: #ff7c08;
}

.header__a {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

.header__a:hover {
  color: #231f40;
}

.header__ul--icons li {
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__ul--icons li a {
  color: white;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  position: relative;
  background-color: #ff7c08;
  text-align: center;
  margin-left: 10px;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
  margin: 0;
}
.header__ul--icons li a i {
  margin: 0;
}
.header__ul--icons li a:hover {
  background-color: white;
  color: #ff7c08;
}

.header__div--bottom {
  position: fixed;
  width: 100%;
  height: 80px;
  background: white;
  top: 50px;
  z-index: 1000;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}
.header__div--bottom .main_menu {
  height: 100%;
  padding: 0;
}
.header__div--bottom .container {
  height: 100%;
}
.header__div--bottom .navbar-brand {
  width: 200px;
}
.header__div--bottom a {
  color: #231f40;
}
.header__div--bottom .navbar-nav {
  height: 100%;
}
.header__div--bottom .navbar-nav .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__div--bottom .navbar-nav .nav-item .nav-link {
  position: relative;
  width: 100%;
  height: 100%;
  font-weight: 600;
  line-height: 80px;
  padding: 0 16px;
  color: #231f40;
  text-transform: capitalize;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}
.header__div--bottom .navbar-nav .nav-item .nav-link:hover {
  color: #ff7c08;
}
.header__div--bottom .navbar-nav .nav-item .active {
  color: #ff7c08;
}
.header__div--bottom .navbar-nav #marker {
  position: absolute;
  left: 0px;
  height: 4px;
  width: 0px;
  background-color: #000;
  bottom: 16px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 4px;
}
.header__div--bottom .toggle {
  background-color: #ff7c08;
  position: relative;
  width: 40px;
  height: 30px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}
.header__div--bottom .toggle .menu__btn--shape {
  position: absolute;
  width: 60%;
  height: 2px;
  border-radius: 50px;
  background-color: white;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}
.header__div--bottom .toggle .top {
  top: 25%;
}
.header__div--bottom .toggle .middle {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  -webkit-transition-duration: 0s;
          transition-duration: 0s;
}
.header__div--bottom .toggle .bottom {
  bottom: 25%;
}
.header__div--bottom .toggle.active {
  background-color: #231f40;
}
.header__div--bottom .toggle.active .top {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  top: 45%;
}
.header__div--bottom .toggle.active .bottom {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  bottom: 45%;
}
.header__div--bottom .toggle.active .middle {
  opacity: 0;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-duration: 0s;
          transition-duration: 0s;
}
.header__div--bottom .navigation {
  position: absolute;
  top: 80px;
  right: 0;
  width: 150px;
}
.header__div--bottom .navigation ul {
  position: relative;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header__div--bottom .navigation ul .nav-item-mobile {
  visibility: visible;
  opacity: 0;
  position: relative;
  list-style-type: none;
  -webkit-transition: opacity linear 0.5s, -webkit-transform linear 0.5s;
  transition: opacity linear 0.5s, -webkit-transform linear 0.5s;
  transition: opacity linear 0.5s, transform linear 0.5s;
  transition: opacity linear 0.5s, transform linear 0.5s, -webkit-transform linear 0.5s;
  width: 100%;
  background-color: white;
  -webkit-transform: translateX(150px);
          transform: translateX(150px);
  -webkit-transition-delay: calc(0.25s * var(--i));
          transition-delay: calc(0.25s * var(--i));
}
.header__div--bottom .navigation ul .nav-item-mobile a.nav-link-mobile {
  background-color: white;
  position: relative;
  width: 100%;
  height: 100%;
  font-weight: 600;
  line-height: 20px;
  padding: 16px 0 16px 32px;
  color: #231f40;
  text-transform: capitalize;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}
.header__div--bottom .active ul .nav-item-mobile {
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}
.header__div--bottom .active ul .nav-item-mobile .nav-link-mobile:hover {
  color: #ff7c08;
}
.header__div--bottom .menu_icon {
  text-align: center;
  margin: 0 !important;
  padding: 0 !important;
}
.header__div--bottom .menu_icon li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: white;
  margin: 0px 10px;
}
.header__div--bottom .menu_icon li a {
  width: 40px;
  height: 40px;
  font-weight: 600;
  color: #231f40;
  text-transform: capitalize;
  padding: 0;
  position: relative;
  cursor: pointer;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
  background: rgba(255, 124, 8, 0.1490196078);
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
}
.header__div--bottom .menu_icon li a span {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ff7c08;
  color: white;
  border: 1px solid white;
  line-height: 24px;
  font-size: 12px;
  text-align: center;
  font-weight: 600;
  top: -10px;
  right: -10px;
}
.header__div--bottom .cart_icon:hover {
  background: #ff7c08;
  color: white;
}

.ziro {
  top: 0;
}

.header__banner {
  height: 100vh;
  overflow: hidden;
  padding-top: 130px;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
.header__banner .banner__div--overlay, .header__banner .banner__div--slider .banner__div--slider_overlay {
  height: 100%;
  position: relative;
  background-color: rgba(35, 31, 64, 0.768627451);
}
.header__banner .banner__div--overlay div, .header__banner .banner__div--slider .banner__div--slider_overlay div {
  height: 100%;
}
.header__banner .banner_image_1 {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 31px;
  left: 4%;
  z-index: 1;
  -webkit-animation: rotate linear 50s infinite;
          animation: rotate linear 50s infinite;
}
.header__banner .banner_image_2 {
  position: absolute;
  width: 40px;
  height: 29px;
  top: 80%;
  left: 5%;
  z-index: 1;
  -webkit-animation: zoom linear 2.5s infinite alternate;
          animation: zoom linear 2.5s infinite alternate;
}
.header__banner .banner_image_3 {
  position: absolute;
  width: 25px;
  height: 33px;
  top: 15%;
  right: 48%;
  z-index: 1;
  -webkit-animation: zoom linear 2.5s infinite alternate;
          animation: zoom linear 2.5s infinite alternate;
}
.header__banner .banner_image_4 {
  position: absolute;
  width: 55px;
  height: 40px;
  bottom: 10%;
  left: 15%;
  z-index: 1;
  -webkit-animation: shake linear 2.5s infinite alternate;
          animation: shake linear 2.5s infinite alternate;
}
.header__banner .banner_image_5 {
  position: absolute;
  width: 45px;
  height: 45px;
  bottom: 5%;
  left: 30%;
  z-index: 1;
  -webkit-animation: rotate linear 50s infinite;
          animation: rotate linear 50s infinite;
}
.header__banner .banner_image_6 {
  position: absolute;
  width: 45px;
  height: 55px;
  top: 5%;
  left: 26%;
  z-index: 1;
  -webkit-animation: shake linear 1.5s infinite alternate;
          animation: shake linear 1.5s infinite alternate;
}
.header__banner .banner__div--slider {
  height: 100%;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}
.header__banner .banner__div--text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 40px;
}
.header__banner .banner__div--text h3 {
  color: #ff7c08 !important;
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 600;
  margin-top: 10px;
  font-family: "Oleo Script", cursive;
}
.header__banner .banner__div--text h1 {
  font-size: 56px;
  font-weight: 700;
  text-transform: capitalize;
  color: white !important;
}
.header__banner .banner__div--text p {
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 30px;
  color: white;
}
.header__banner .banner__div--text form {
  padding: 10px;
  border-radius: 40px;
  position: relative;
  background: white;
}
.header__banner .banner__div--text form input {
  border-radius: 30px;
  padding: 17px 25px;
  border-color: #ddd;
}
.header__banner .banner__div--text form button {
  position: absolute;
  top: 16px;
  right: 16px;
}
.header__banner .banner__imgContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.header__banner .banner__imgContainer .img {
  height: 600px !important;
  width: 600px;
  position: absolute;
  border-radius: 50%;
  padding: 19px;
  -webkit-box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.15);
          box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.15);
  z-index: 1;
  left: 150px;
}
.header__banner .banner__imgContainer .img img {
  border-radius: 50%;
}
@media screen and (max-width: 1600px) {
  .header__banner .banner__imgContainer .img {
    width: 500px !important;
    height: 500px !important;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1340px) {
  .header__banner .banner__imgContainer .img {
    width: 500px !important;
    height: 500px !important;
    right: 0;
    left: 0;
  }
}
@media screen and (max-width: 992px) {
  .header__banner .banner__imgContainer .img {
    width: 400px !important;
    height: 400px !important;
    right: 0;
    left: 0;
  }
}
.header__banner .banner__imgContainer .img::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-image: url(../images/banner_img_shapes.png);
  -webkit-animation: rotate linear 100s infinite;
          animation: rotate linear 100s infinite;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
.header__banner .banner__imgContainer span {
  position: absolute;
  background: #ff7c08;
  width: 140px;
  height: 140px;
  top: 30px;
  left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-size: 35px;
  font-family: "Oleo Script", cursive;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: lowercase;
  border-radius: 50%;
  padding: 15px;
  text-align: center;
  border: 4px solid white;
  line-height: 40px;
}

@media (min-width: 992px) {
  .active ul .nav-item-mobile {
    visibility: hidden;
  }
  .navigation {
    display: none;
  }
}
@media screen and (min-width: 768) {
  .ItemByOff {
    padding: 65px 0 70px 0;
  }
}
.ItemByOff {
  padding: 100px 0 95px 0;
  background-color: #eef6eb;
}
.ItemByOff .ItemByOff_slider .prevArrow {
  width: 40px;
  height: 40px;
  top: -65px;
  right: 62px;
  background: #ff7c08;
  line-height: 40px;
  text-align: center;
  color: white;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
  cursor: pointer;
}
.ItemByOff .ItemByOff_slider .swiper {
  width: 100%;
  height: 100%;
}
.ItemByOff .ItemByOff_slider .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 420px;
  height: 249px;
}
.ItemByOff .ItemByOff_slider .offer__item {
  position: relative;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  padding: 25px 0 25px 195px;
  border: 10px solid white;
  border-radius: 5px;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.ItemByOff .ItemByOff_slider .offer__item span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 60px;
  height: 60px;
  top: 44px;
  left: 143px;
  padding: 10px;
  background: #ff7c08;
  color: white;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  text-align: center;
  text-transform: capitalize;
  border: 2px solid white;
  border-radius: 50%;
}
.ItemByOff .ItemByOff_slider .offer__item .title {
  display: block;
  margin: 10px 0px 5px;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 700;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
  color: #231f40;
  font-family: "Barlow", sans-serif;
}
.ItemByOff .ItemByOff_slider .offer__item p {
  width: 65%;
  margin: 0 auto;
}
.ItemByOff .ItemByOff_slider .offer__item ul {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.ItemByOff .ItemByOff_slider .offer__item li a {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  background: #ff7c08;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  color: white;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
  border-radius: 50%;
}
.ItemByOff .ItemByOff_slider .offer__item li a:hover {
  background-color: #231f40;
}
.ItemByOff .ItemByOff_slider .offer__item:hover .title {
  color: #ff7c08;
}

@media (min-width: 576px) {
  .offer__item span {
    top: 35px !important;
    left: 168px !important;
  }
}
@media (min-width: 768px) {
  .offer__item span {
    top: 20px !important;
    left: 227px !important;
  }
}
@media (min-width: 992px) {
  .offer__item {
    padding-left: 150px;
  }
  .offer__item span {
    top: 44px !important;
    left: 143px !important;
  }
}
@media (min-width: 1200px) {
  .offer__item span {
    top: 33px !important;
    left: 173px !important;
  }
}
@media (min-width: 1400px) {
  .offer__item span {
    top: 48px !important;
    left: 127px !important;
  }
}
.reservation__div--bg {
  border-radius: 10px;
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 124, 8, 0.9098039216))), url(../images/reservation_bg.webp);
  background: linear-gradient(rgba(255, 124, 8, 0.9098039216)), url(../images/reservation_bg.webp);
  background-size: cover;
}

@media screen and (min-width: 1200px) {
  .reservation__div--bg {
    background: linear-gradient(112deg, transparent 46%, rgba(255, 124, 8, 0.9098039216) 46%), url(../images/reservation_bg.webp);
  }
}
@media screen and (min-width: 768px) {
  .reservation {
    margin-top: 100px;
  }
}
@media screen and (min-width: 992px) {
  .reservation h2 {
    font-size: 30px;
  }
}
.reservation {
  margin-top: 70px;
}
.reservation .reservation__form {
  position: relative;
  padding: 50px;
  z-index: 1;
}
.reservation .reservation__form button {
  width: 100%;
  border-radius: 4px;
  background: #231f40;
  margin-top: 5px;
}
.reservation h2 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 25px;
  padding-bottom: 6px;
  color: white;
  text-transform: capitalize;
  border-bottom: 1px solid white;
}
.reservation .reservation__input {
  margin-bottom: 20px;
}
.reservation .reservation__input label {
  color: white;
  font-weight: 600;
  margin-bottom: 5px;
  text-transform: capitalize;
}
.reservation .nice-select {
  display: block;
  width: 100%;
  background-color: #fff;
  border-radius: 3px;
  padding: 10px 20px;
  margin-bottom: 20px;
  position: relative;
  float: left;
  clear: both;
  border: 1px solid #eee;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  -webkit-transition: all linear 0.4s;
  transition: all linear 0.4s;
}
.reservation .nice-select .list {
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
          box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 4px;
  padding: 0;
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  overflow: hidden;
  -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
  -webkit-transform: scale(0.75) translateY(-21px);
          transform: scale(0.75) translateY(-21px);
  -webkit-transition: all 0.4s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.3s ease-out;
  transition: all 0.4s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.3s ease-out;
  z-index: 9;
}
.reservation .nice-select .nice-select.open .list {
  width: 100%;
  opacity: 1;
}
.reservation .nice-select .selected {
  font-weight: bold;
}
.reservation .nice-select .focus {
  background-color: #f6f6f6;
}
.reservation .nice-select .option {
  font-weight: 400;
  line-height: 40px;
  list-style: none;
  min-height: 40px;
  cursor: pointer;
  outline: none;
  padding-left: 18px;
  padding-right: 29px;
  text-align: left;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.reservation .nice-select::after {
  display: block;
  width: 5px;
  height: 5px;
  content: "";
  position: absolute;
  top: 50%;
  right: 12px;
  margin-top: -4px;
  border-bottom: 2px solid #999;
  border-right: 2px solid #999;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

@media screen and (min-width: 768px) {
  .menuItem {
    margin-top: 95px;
  }
}
.menuItem {
  margin-top: 65px;
}
.menuItem .menu_filter {
  height: 100%;
  padding-bottom: 25px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.menuItem .menu_filter button {
  padding: 5px 25px;
  margin: 5px 0px 0px 10px;
  color: #ff7c08;
  border-radius: 4px;
  background: white;
  border: 1px solid #ff7c08;
  font-size: 15px;
  font-weight: 500;
  text-transform: capitalize;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}
.menuItem .menu_filter button.active {
  background: #ff7c08;
  color: white;
}
.menuItem .menu_filter button:hover {
  background: #ff7c08;
  color: white;
}
.menuItem .grid .menuItem__product {
  margin-top: 25px;
  position: relative;
  border-radius: 5px;
  background: white;
  -webkit-box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.15);
          box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.15);
  margin-left: 12px;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}
.menuItem .grid .menuItem__product .product__img {
  height: 220px;
  border-radius: 5px 5px 0px 0px;
  overflow: hidden;
}
.menuItem .grid .menuItem__product .product__img img {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}
.menuItem .grid .menuItem__product .product__txt {
  position: relative;
  border-radius: 10px;
  text-align: center;
  padding: 25px;
}
.menuItem .grid .menuItem__product .product__txt .category {
  text-transform: capitalize;
  font-size: 16px;
  color: white;
  font-family: "Oleo Script", cursive;
  position: absolute;
  top: -16px;
  right: 0;
  background: #ff7c08;
  padding: 3px 15px;
  -webkit-box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.15);
          box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.15);
  border-radius: 4px 0px 0px 4px;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}
.menuItem .grid .menuItem__product .product__txt .category:hover {
  color: #231f40;
}
.menuItem .grid .menuItem__product .product__txt .title {
  display: block;
  color: #231f40;
  font-size: 20px;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  margin-bottom: 12px;
  text-align: center;
  text-transform: capitalize;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}
.menuItem .grid .menuItem__product .product__txt .title:hover {
  color: #ff7c08;
}
.menuItem .grid .menuItem__product .product__txt .rating {
  color: #ff9933;
  font-size: 16px;
  text-align: center;
}
.menuItem .grid .menuItem__product .product__txt .rating span {
  position: relative;
  padding-left: 20px;
  font-size: 16px;
  font-weight: 600;
}
.menuItem .grid .menuItem__product .product__txt .rating span::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 1px;
  top: 11px;
  left: 4px;
  background: "Manrope", sans-serif;
}
.menuItem .grid .menuItem__product .product__txt .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ff7c08;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  margin-top: 13px;
  margin-bottom: 30px;
  text-transform: capitalize;
}
.menuItem .grid .menuItem__product .product__txt .price del {
  color: #736f6f;
  margin-left: 7px;
  font-size: 18px;
  font-weight: 500;
}
.menuItem .grid .menuItem__product .product__txt .product__add-to-card {
  position: absolute;
  left: -12px;
  bottom: 25px;
  color: white;
  background: #ff7c08;
  padding: 6px 25px 6px 25px;
  border-radius: 0px 4px 4px 4px;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}
.menuItem .grid .menuItem__product .product__txt .product__add-to-card::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  top: -19px;
  left: 0px;
  z-index: 1;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
  border-top: 20px solid transparent;
  border-right: 13px solid #d36606;
}
.menuItem .grid .menuItem__product .product__txt .product__add-to-card:hover {
  background-color: #231f40;
}
.menuItem .grid .menuItem__product .product__txt .product__add-to-card:hover::after {
  border-right-color: #231f40;
}
.menuItem .grid .menuItem__product .product__txt ul li a {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: #ff7c08;
  background: white;
  border: 1px solid #ff7c08;
  font-size: 14px;
  margin-left: 10px;
  border-radius: 3px;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}
.menuItem .grid .menuItem__product .product__txt ul li a:hover {
  color: white;
  background: #ff7c08;
}
.menuItem .grid .menuItem__product:hover {
  margin-top: 20px;
}
.menuItem .grid .menuItem__product:hover .product__img img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.team {
  padding: 65px 0;
  margin-top: 70px;
  background-color: #eef6eb;
}
.team .fullWidth {
  display: inline-block;
  width: 100%;
}
.team .teamCard {
  border-radius: 10px;
  background: white;
  padding: 30px;
  text-align: center;
  position: relative;
  overflow: hidden;
  margin: 25px 12px 0px 12px;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}
.team .teamCard .teamCard__img {
  position: relative;
  width: 200px;
  height: 200px;
  padding: 10px;
  margin: 0 auto;
  background: #ff7c08;
  border: 10px solid white;
  border-radius: 50%;
  -webkit-box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.15);
          box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.15);
  overflow: hidden;
  z-index: 1;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}
.team .teamCard .teamCard__img img {
  border-radius: 50%;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}
.team .teamCard .teamCard__txt h4 {
  display: block;
  text-align: center;
  font-size: 24px;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  color: #484747;
  margin: 30px 0px 5px 0px;
  text-transform: capitalize;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}
.team .teamCard .teamCard__txt p {
  text-align: center;
  font-weight: 600;
  text-transform: capitalize;
}
.team .teamCard .teamCard__txt ul {
  margin-top: 27px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.team .teamCard .teamCard__txt ul li a {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background: rgba(255, 124, 8, 0.1294117647);
  color: #ff7c08;
  font-size: 16px;
  margin: 0px 5px;
  border-radius: 50%;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}
.team .teamCard .teamCard__txt ul li a:hover {
  background: #ff7c08;
  color: white;
}
.team .teamCard::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 30%;
  top: 0;
  left: 0;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 25%, 50% 100%, 0 25%);
          clip-path: polygon(0 0, 100% 0%, 100% 25%, 50% 100%, 0 25%);
  background: #ff7c08;
}
.team .teamCard:hover {
  margin-top: 20px;
}
.team .teamCard:hover .teamCard__img img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.team .teamCard:hover h4 {
  color: #ff7c08;
}

@media screen and (min-width: 768px) {
  .team {
    padding: 95px 0;
    margin-top: 100px;
  }
}
.ADSlider {
  margin-top: 45px;
}
.ADSlider .ADSlider__div {
  position: relative;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  border-radius: 10px;
  margin-top: 25px;
  padding: 25px;
  overflow: hidden;
}
.ADSlider .ADSlider__div .text {
  position: relative;
  width: 50%;
  padding-bottom: 10px;
  z-index: 1;
}
.ADSlider .ADSlider__div h5 {
  font-family: "Oleo Script", cursive;
  color: #ff7c08;
  font-size: 20px;
  text-transform: capitalize;
}
.ADSlider .ADSlider__div h2 {
  color: #231f40;
  font-size: 26px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
  text-transform: capitalize;
}
@media (min-width: 992px) {
  .ADSlider .ADSlider__div .text h2 {
    font-size: 21px;
  }
}
@media (min-width: 1200px) {
  .ADSlider .ADSlider__div .text h2 {
    font-size: 26px;
  }
}
@media (min-width: 1400px) {
  .ADSlider .ADSlider__div .text h2 {
    font-size: 28px;
  }
}
.ADSlider .ADSlider__div a {
  font-size: 17px;
  font-weight: 700;
  color: #231f40;
  padding-bottom: 0px;
  margin-top: 30px;
  border-bottom: 1px solid #231f40;
  text-transform: capitalize;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}
.ADSlider .ADSlider__div a:hover {
  color: #ff7c08;
  border-color: #ff7c08;
}
@media (min-width: 768px) {
  .ADSlider .ADSlider__div {
    padding: 60px;
  }
}
@media (min-width: 992px) {
  .ADSlider .ADSlider__div {
    padding: 30px;
  }
}
@media (min-width: 1400px) {
  .ADSlider .ADSlider__div {
    padding: 40px;
  }
}

@media screen and (min-width: 768px) {
  .ADSlider {
    margin-top: 75px;
  }
}
.downloadApp {
  margin-top: 70px;
}
.downloadApp .downloadApp__div--bg {
  height: auto;
  margin-bottom: 25px;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  overflow: hidden;
}
.downloadApp .downloadApp__div--bg .downloadApp__div--txt {
  background: rgba(35, 31, 64, 0.8);
  height: 100%;
  padding: 70px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.downloadApp .downloadApp__div--bg .downloadApp__div--txt .div--txt h5 {
  color: #ff7c08 !important;
  font-size: 25px;
  text-align: center;
  font-family: "Oleo Script", cursive;
}
.downloadApp .downloadApp__div--bg .downloadApp__div--txt .div--txt h2 {
  color: white !important;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 25px;
}
@media (min-width: 1400px) {
  .downloadApp .downloadApp__div--bg .downloadApp__div--txt .div--txt .div--txt h2 {
    font-size: 48px;
  }
}
.downloadApp .downloadApp__div--bg .downloadApp__div--txt .div--txt ul {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.downloadApp .downloadApp__div--bg .downloadApp__div--txt .div--txt ul li a {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  background: #ff7c08;
  padding: 8px 25px;
  border-radius: 5px;
  margin: 5px;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}
.downloadApp .downloadApp__div--bg .downloadApp__div--txt .div--txt ul li a span {
  font-size: 35px;
  color: white;
  margin-right: 15px;
}
.downloadApp .downloadApp__div--bg .downloadApp__div--txt .div--txt ul li a p {
  font-size: 20px;
  color: white;
  font-weight: 700;
  margin: 0;
}
.downloadApp .downloadApp__div--bg .downloadApp__div--txt .div--txt ul li a p span {
  display: block;
  color: white;
  font-size: 14px;
  line-height: 20px;
}
.downloadApp .downloadApp__div--bg .downloadApp__div--txt .div--txt ul li a:hover {
  background: #eb0029;
}
@media (min-width: 992px) {
  .downloadApp .downloadApp__div--bg .downloadApp__div--txt {
    padding: 50px 20px;
  }
}
@media (min-width: 1600px) {
  .downloadApp .downloadApp__div--bg .downloadApp__div--txt {
    padding: 50px;
  }
}
@media (min-width: 992px) {
  .downloadApp .downloadApp__div--bg {
    height: 400px;
    margin-bottom: 0;
  }
}
@media (min-width: 1400px) {
  .downloadApp .downloadApp__div--bg {
    height: 450px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .downloadApp {
    margin-top: 100px;
  }
}
.download_slider .downloadApp__slider--img {
  height: 380px;
  margin: 0px 12px;
}
.download_slider .downloadApp__slider--img img {
  height: 100%;
}
@media (min-width: 576px) {
  .download_slider .downloadApp__slider--img {
    height: 350px;
  }
}
@media (min-width: 768px) {
  .download_slider .downloadApp__slider--img {
    height: 300px;
  }
}
@media (min-width: 992px) {
  .download_slider .downloadApp__slider--img {
    height: 400px;
  }
}
@media (min-width: 1400px) {
  .download_slider .downloadApp__slider--img {
    height: 450px;
  }
}

.customer {
  background-image: url("../images/testimonial_bg.jpg");
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  padding-top: 60px;
  padding-bottom: 70px;
}
.customer .customer__div {
  position: relative;
  margin-top: 105px;
  padding: 15px 0px 15px 15px;
  margin: 105px 12px 0 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.customer .customer__div .customer__div--img {
  position: absolute;
  top: -80px;
  width: 150px;
  height: 150px;
  border: 5px solid white;
  -webkit-box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.15);
          box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.15);
  border-radius: 50%;
  overflow: hidden;
  margin-left: 0;
  z-index: 9;
}
.customer .customer__div .customer__div--txt {
  position: relative;
  background: #231f40;
  padding: 90px 30px 40px 30px;
  border-radius: 25px;
}
.customer .customer__div .customer__div--txt h4 {
  position: relative;
  color: white;
  margin-bottom: 5px;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
}
.customer .customer__div .customer__div--txt h4::after,
.customer .customer__div .customer__div--txt h4::before {
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  top: 0px;
  left: 15px;
  background: url("../images/testi_quot.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 100;
}
.customer .customer__div .customer__div--txt h4::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  left: auto;
  right: 15px;
}
.customer .customer__div .customer__div--txt .textWhite {
  color: white;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
}
.customer .customer__div .customer__div--txt .feedback {
  color: #e7e5e5;
  text-align: center;
  margin: 20px 0px 25px 0px;
}
.customer .customer__div .customer__div--txt .rating {
  display: block;
  font-size: 18px;
  text-align: center;
  color: #ff7c08;
}
.customer .customer__div::after {
  position: absolute;
  content: "";
  width: 50%;
  height: 100%;
  bottom: 0;
  left: 0;
  background: #ff7c08;
  border-radius: 25px;
  z-index: -1;
}

@media (min-width: 992px) {
  .customer {
    padding-top: 90px;
    padding-bottom: 100px;
  }
}
.counter--section {
  background-image: url("../images/counter_bg.webp");
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}
.counter--section .counter__div--overlay {
  padding-top: 90px;
  padding-bottom: 0;
  background: rgba(35, 31, 64, 0.768627451);
}
@media (min-width: 768px) {
  .counter--section .counter__div--overlay {
    padding-top: 120px;
    padding-bottom: 100px;
  }
}
.counter--section .counter__div {
  text-align: center;
  margin-bottom: 70px;
}
.counter--section .counter__div .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: rgba(35, 31, 64, 0.5803921569);
  margin: 0 auto;
}
.counter--section .counter__div .text h2 {
  display: inline-block;
  position: relative;
  color: white !important;
  font-size: 36px;
  font-weight: 700;
  margin-right: 25px;
}
.counter--section .counter__div .text h2::after {
  position: absolute;
  content: "+";
  top: -3px;
  right: -25px;
  color: white;
  font-size: 40px;
}
.counter--section .counter__div .text span {
  display: block;
  width: 50px;
  height: 50px;
  background: #ff7c08;
  line-height: 50px;
  color: white;
  border-radius: 50%;
  position: absolute;
  bottom: -25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
}
.counter--section .counter__div .text::after {
  position: absolute;
  content: "";
  width: 235px;
  height: 235px;
  top: -20px;
  left: -18px;
  background: url("../images/counter_shapes.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  -webkit-animation: rotate linear 60s infinite;
          animation: rotate linear 60s infinite;
}
.counter--section .counter__div p {
  color: white;
  font-size: 20px;
  font-weight: 700;
  margin-top: 40px;
  text-transform: capitalize;
}
@media (min-width: 992px) {
  .counter--section .counter__div {
    margin-bottom: 0;
  }
}

footer {
  background: url("../images/footer_bg.webp");
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  margin-top: 60px;
}
footer .footer_overlay {
  background: rgba(35, 31, 64, 0.8784313725);
  padding-top: 70px;
  padding-bottom: 20px;
}
footer .footer__content .footer_logo {
  width: 200px;
}
footer .footer__content span {
  display: block;
  margin: 30px 0px;
  color: white;
}
footer .footer__content ul li a {
  display: block;
  position: relative;
  color: #dfdddd;
  font-size: 16px;
  padding-left: 15px;
  margin-top: 15px;
  text-transform: capitalize;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}
footer .footer__content ul li a:hover {
  color: #ff7c08;
}
footer .footer__content ul li a::after {
  position: absolute;
  content: "";
  width: 7px;
  height: 7px;
  top: 9px;
  left: 0;
  background: #ff7c08;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}
footer .footer__content .social_link {
  margin-bottom: 10px !important;
}
footer .footer__content .social_link li a {
  position: initial;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
  padding: 0;
  margin-right: 10px;
  margin-top: 0;
  text-align: center;
  color: white;
  background: #ff7c08;
}
footer .footer__content .social_link li a:hover {
  background-color: white;
}
footer .footer__content h3 {
  display: inline-block;
  font-size: 22px;
  font-weight: 700;
  padding-bottom: 5px;
  margin: 20px 0 12px 0;
  color: white !important;
  border-bottom: 1px solid #ff7c08;
  text-transform: capitalize;
}
footer .footer__content .info {
  display: block;
  position: relative;
  color: #dfdddd;
  padding-left: 35px;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(255, 124, 8, 0.5215686275);
}
footer .footer__content .info i {
  position: absolute;
  color: #ff7c08;
  font-size: 20px;
  left: 0;
  top: 3px;
}
@media (min-width: 768px) {
  footer .footer_overlay {
    padding: 100px 0;
  }
}

@media (min-width: 576px) {
  footer {
    margin-top: 80px;
  }
}
@media (min-width: 992px) {
  footer {
    margin-top: 120px;
  }
}
.footer__bottom {
  padding: 20px 0px;
  background: #ff7c08;
}
.footer__bottom .footer__bottom__txt p {
  color: white;
  text-align: center;
  margin: 0;
}
.footer__bottom .footer__bottom__txt p b {
  color: white;
  font-weight: 600;
  text-transform: capitalize;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

.scrollUpButton {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 45px;
  height: 45px;
  opacity: 0;
  color: white;
  background-color: #ff7c08;
  border-radius: 50%;
  text-align: center;
  text-transform: capitalize;
  line-height: 45px;
  border: 1px solid white;
  z-index: 9999;
  cursor: pointer;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
  -webkit-animation: scrollMovement linear 2s infinite alternate;
          animation: scrollMovement linear 2s infinite alternate;
}

.scrollUpButton:hover {
  background-color: #231f40;
}

.show {
  opacity: 1;
}/*# sourceMappingURL=style.css.map */